<div class="form-content">
  <%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= form.label "Title" %>
    <%= form.text_field :title, class:"form-control", id:"exampleInputEmail1", placeholder:"title"%>
  </div>
  <div class="form-group">
    <%= form.label "Content" %>
    <%= form.text_area :content, class:"form-control", id:"exampleFormControlTextarea1", placeholder:"content" %>
  </div>
  <div class="form-group">
    <%= form.label "Start_Date" %>
    <%= form.datetime_select :start_date, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label "End_Date" %>
    <%= form.datetime_select :end_date, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label "Category" %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= form.label "Status" %>
    <%= form.select :status, ["New","WIP","Done","Pending"] %>
  </div>

  <div class="actions">
    <% if controller.controller_name == 'tasks' && controller.action_name == 'edit' %>
    <button class="btn btn-outline-primary" type="submit">Update Task</button>
    <%= link_to 'Back', @task,  class:"btn btn-outline-secondary" %>
    <%else%>
    <button class="btn btn-outline-primary" type="submit">Create Task</button>
    <%= link_to 'Back', tasks_path,  class:"btn btn-outline-secondary" %>
    <%end%>
  </div>
  <% end %>
</div>
