<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Calendar Task</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <% if user_signed_in? %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Sign In User Name : #{current_user.name}", new_task_path, class: "nav-link disabled" %>
    </li>
    <li class="nav-item">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>
  <% else %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
    </li>
  </ul>
  <% end %>
</nav>

<div id='wrap'>
  <div id='external-events'>
    <div class="card">
      <div class="card-header">
        <h4 class="task-head">My Tasks</h4>
        <% if user_signed_in? %><%= link_to 'タスク新規作成', new_task_path, class: "btn btn-success", id: "new-task"%><%end%>
      </div>
      <div class="card-body" id="task-box">
        <div id="scroll-bar">
          <blockquote class="blockquote mb-0">
            <%= render :partial => 'task', :collection => @tasks %>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div id='calendar'></div>
</div>
